body {
    background:darkslategray;
    /* Set background image */
    background-image: url("Images/backgroundjpg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    
}

#mainMenu {
    position: fixed;
    width:300px;
    height:400px;
    margin-left:-150px;
    margin-top:-200px;
    
    top: 50%;
    left: 50%;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
    text-align:center;
}

.title {
    position:relative;
    height:100px;
    width:300px;
    margin-bottom: 40px;

    background-size: 1px 300%;
    color:black;

    text-align:center;
    font-family:arial;
    font-size:50px;

    display:inline-block;
}

.title p {
    position:relative;
    top:8px;
}

.btn {
    position:relative;
    height:50px;
    width:200px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    background:darkslategray;
    color:white;
    border-radius: 8px;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
    text-align:center;
    font-family:arial;
    font-size:30px;

    -webkit-transition:0.5s;
    transition:0.5s;
    
    display:inline-block;
    
    cursor:pointer;
}

#playBtn:hover {
    background:slategray;
    color:white;
    
    -webkit-transform:scale(1.1) rotate(2deg);
    transform:scale(1.1) rotate(2deg);
}

#helpBtn:hover {
    background:slategray;
    color:white;

    -webkit-transform:scale(1.1) rotate(-2deg);
    transform:scale(1.1) rotate(-2deg);
}

#helpMenu{
    position: fixed;
    width:600px;
    height:400px;
    margin-left:-300px;
    margin-top:-200px;
    
    top: 50%;
    left: 50%;

    background:darkslategray;
    color:white;
    border-radius: 12px;

    text-align:center;
    font-family:arial;
    font-size:30px;
}

#helpOkBtn:hover {
    background:slategray;
    color:white;

    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

#gameScreen{
    position: fixed;
    width:800px;
    height:600px;
    margin-left:-400px;
    margin-top:-300px;
    
    top: 50%;
    left: 50%;

    background:whitesmoke;
    color:white;
    outline: solid;
    outline-color: black;
    text-align:center;
    font-family:arial;
    font-size:30px;
    
    
}

#player {
    position:relative;
    z-index: 0;
    height:52px;
    width:79px;
    left:0px;
    top:0px;
    
    background-image: url("Images/Top_Down_Survivor/rifle/idle/survivor-idle_rifle_0.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


#enemy {
    display:flex;
    position:absolute; /* Should this be absolute??? or relative? */
    /*height:75px;
    width:75px;*/
    height: 80px;
    width: 123px;
    left:0px;
    top:0px;

    /*background: red;
    color:black;*/
    background: url("Images/zombie_sprite.png");
}

@keyframes enemy-move-right {
    from {background-position: 0px 160px}
    to {background-position: -738px 160px};
}

.healthBox {
    position:absolute;
    z-index: 1;
    height: 12px;
    width: 80px;
    margin-left:-15px;
    margin-top:-5px;

    text-align:center;

    background:lightgray;
    outline: none;
}

.healthBar {
    position:absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
    left:0px;
    top:0px;

    background-color:rgb(100, 255, 100);

}

.damageBar {
    position:absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    left:0px;
    top:0px;

    background-color:rgb(255, 100, 100);

}

.healthText {
    position:absolute;
    z-index: 4;
    height: 8px;
    width: 50px;
    top:-3px;
    margin-left:15px;

    color:black;

    text-align:center;
    font-family:arial;
    font-size:16px;
}

/*#enemy {
    display:flex;
    position:absolute; 
    height:75px;
    width:75px;
    left:0px;
    top:0px;
    background: red;
    color:black;
}*/

.bullet {
    position:absolute;
    z-index: 1;
    height:5px;
    width:5px;
    left:0px;
    top:0px;
    
    background:black;
    color:white;
}

#floorText {
    position:absolute;
    display:flex;
    color:red;
    text-indent: 10px;
    text-align:center;
    font-family:fantasy;
    font-size:50px;
}

.obstacle {
    position:absolute;
    z-index: -1;
    height:75px;
    width:125px;
    
    background: url("Images/vines.png")
}

.heart {
    position: absolute;
    z-index: 0;
    height:25px;
    width:29px;
    
    animation: spin 0.8s steps(10) infinite;
    background: url("Images/heart_sprite2.png")
}

@keyframes spin {
    100% {background-position: -287px}
}